
*{
    font-family: 'Lato', sans-serif !important;
}

.navBar{
    width: 100%;
    height: 90px;
    background-color: #235789;
  }
  
  .navText{
    color: #FDFFFC;
    font-size: 5rem;
  }
  .flexDiv{
    display: flex;
    justify-content: center;
    align-self: center;
  }